{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
    <script type="text/javascript" src="{{ static_url('flow.js') }}"></script>
    <h3>{{workflow_name}}</h3>
    <div>
        <small><a href="/">Go back</a></small>
    </div>
    <br/>
    <div>
        <svg/>
    </div>
    <script type="text/javascript">
        // the things that flask passes to us
        render_graph(
            {% raw json.dumps(connections)%},
            {% raw json.dumps(related    )%},
            {% raw json.dumps(locations  )%},
            {% raw json.dumps(statuses   )%}
        );
    </script>
{% end %}
