<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="{{ static_url('d3.v3.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('flow.js') }}"></script>

    <style>
        body {
            font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
        }
    </style>
</head>
<body>
    <h3>{{workflow_name}}</h3>
    <small><a href="/">Go back</a></small>
    <svg/>
    <script type="text/javascript">
        // the things that flask passes to us
        render_graph(
            {% raw json.dumps(connections)%},
            {% raw json.dumps(related    )%},
            {% raw json.dumps(locations  )%},
            {% raw json.dumps(statuses   )%}
        );
    </script>
</body>
</html>



